* {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-color: #234355;
  color: #fff;
}

#app {
  width: 100%;
}

main {
  margin-top: 9rem;
  text-align: center;
}

.tabset {
  margin: 1rem auto;
  text-align: left;
}

@media screen and (min-width: 1360px) {
  .tabset {
    width: 50%;
  }
}

@media screen and (max-width: 1359px) {
  .tabset {
    width: 65%;
  }
}

@media screen and (max-width: 1024px) {
  .tabset {
    width: 85%;
  }
}

@media screen and (max-width: 850px) {
  .tabset {
    width: 95%;
  }
}

.tabs {
  display: flex;
  align-items: start;
}

.tab {
  padding: 0.2rem 1rem;
  line-height: 1.5;

  border-bottom: 0px;
  border-collapse: collapse;
}

.tab_active {
  background-color: #b06c1e;
  border: 1px solid #b06c1e;
}

.tab > label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tabset > ul label {
  display: inline-block;
  padding: 0.2rem 1rem;
  border-right-width: 0;
}

.tabset > input:nth-child(1):focus ~ ul li:nth-child(1) label,
.tabset > input:nth-child(2):focus ~ ul li:nth-child(2) label {
  text-decoration: underline;
}

.content {
  border: 1px solid #b06c1e;
  padding: 1rem 2rem;
  min-width: 297px;
}

select {
  color: #777;
}

.select_profile {
  padding: 0.2rem;
  margin: 0.6rem;
  line-height: 1.5;
}

.change_langs_arrows:hover {
  cursor: pointer;
}

.add_container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
  gap: 1rem;
  color: #ddd;
  align-items: center;
}

@media screen and (min-width: 720px) {
  .selects_container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-content: space-between;
    font-size: 0.8rem;
    border-top: 1px solid #b06c1e;
    padding: 0.5rem 1rem;
  }
}

@media screen and (min-width: 481px) {
  .selects_container {
    font-size: 0.8rem;
    border-top: 1px solid #b06c1e;
    padding: 0.5rem 1rem;
  }

  .separator {
    display: none;
  }

  .select_container_right {
    text-align: right;
  }

  .add_container > div {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    gap: 1rem;
  }
}

.add_container label {
  text-align: right;
  font-size: 0.9rem;
}

.add_container button {
  color: #fff;
  background-color: #b06c1e;
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
  .selects_container {
    font-size: 0.8rem;
    border-top: 1px solid #b06c1e;
    padding: 0.5rem 1rem;
  }

  .separator {
    display: block;
  }

  .select_container_right {
    text-align: center;
    margin-top: 1.5rem;
  }

  .add_container {
    display: flex;
    flex-direction: column;
    color: #ddd;
  }

  .add_container > div {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .add_container label {
    text-align: left;
  }

  .add_container button {
    width: 50%;
    height: 30px;
  }
}

.add_container input {
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0.1rem 0.5rem;
}

.add_container textarea {
  font-size: 0.9rem;
  line-height: 1.2;
  padding: 0.3rem 0.7rem;
}

.translation_textarea {
  height: 7rem;
  font-size: 0.8rem;
  line-height: 1.2;
  padding: 0.4rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.word_container {
  width: 100%;
  height: 2.5rem;
  background-color: #eee;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  border: 2px solid #b06c1e;
  color: #333;
  text-align: center;
}

.translations_container {
  width: 100%;
  height: 15rem;
  background-color: #eee;
  margin-top: 1rem;
  padding: 2rem;
  border: 2px solid #b06c1e;
  color: #333;
  text-align: center;
}

.base_button {
  max-width: fit-content;
  height: 2.2rem;
  padding: 0.5rem 2rem;
  color: #b06c1e;
  font-size: 1.2rem;
  line-height: 1.2rem;
  border: 2px solid #b06c1e;
}

@media screen and (max-width: 600px) {
  .start_button {
    width: 100%;
  }
}

.base_button:not([disabled]):hover {
  background-color: #b06c1e;
  color: #eee;
  border: 2px solid #eee;
  cursor: pointer;
}

.base_button:disabled {
  opacity: 90%;
  border: none;
  color: #aaa;
}

.buttons_container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  background-color: #eee;
}

.buttons_container button {
  height: 2rem;
  padding: 0.4rem 1rem;
  color: #b06c1e;
  font-size: 1rem;
  line-height: 1.2rem;
  border-top: none;
  border-bottom: 2px solid #b06c1e;
  border-right: 2px solid #b06c1e;
  border-left: 2px solid #b06c1e;
}

.buttons_container button:not([class]) {
  border-left: none;
}

.buttons_container button:active {
  background-color: #b06c1e;
  color: #eee;
}

.buttons_container button:disabled {
  opacity: 30%;
}

.download_button {
  width: fit-content;
  height: 1.8rem;
  padding: 0.4rem 1rem;
  color: #b06c1e;
  font-size: 0.9rem;
  line-height: 1rem;
  border: 1px solid #b06c1e;
  margin-top: 0.5rem;
}

.download_button:not([disabled]):hover {
  background-color: #b06c1e;
  color: #eee;
  border: 1px solid #eee;
  cursor: pointer;
}

.alert {
  position: fixed;
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: #b06c1e;
  text-align: center;
  line-height: 50px;
  top: 0px;
  left: 0px;
}
