:root {
  --bg-color: #606c88;
  --sec-color: #f37335;
  --text-color: #eee;
  --light-text-color: #fff;
  --buttons-font: 'Comics Sans';
}

* {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right, #3f4c6b, #606c88);

  color: #fff;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

#app {
  width: 100%;
}

main {
  margin-top: 9rem;
  text-align: center;
}

.tabset {
  margin: 1rem auto;
  text-align: left;
  min-width: 300px;
}

@media screen and (min-width: 1360px) {
  .tabset {
    width: 50%;
  }
}

@media screen and (max-width: 1359px) {
  .tabset {
    width: 65%;
  }
}

@media screen and (max-width: 1024px) {
  .tabset {
    width: 85%;
  }
}

@media screen and (max-width: 850px) {
  .tabset {
    width: 95%;
  }
}

.tabs {
  max-width: 100%;
}

.tab {
  padding: 0.2rem 1rem;
  line-height: 1.5;
  border-bottom: 0px;
  border-collapse: collapse;
  display: inline-block;
}

.tab_active {
  background: #fdc830;
  background: -webkit-linear-gradient(to right, #f37335, #fdc830);
  background: linear-gradient(to right, #f37335, #fdc830);
  border: 1px solid var(--sec-color);
}

.tab > label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tabset > ul label {
  display: inline-block;
  padding: 0.2rem 1rem;
  border-right-width: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tabset > input:nth-child(1):focus ~ ul li:nth-child(1) label,
.tabset > input:nth-child(2):focus ~ ul li:nth-child(2) label {
  text-decoration: underline;
}

.content {
  border: 1px solid var(--sec-color);
  padding: 1rem 2rem;
  min-width: 297px;
}

select {
  color: #777;
}

.select_profile {
  padding: 0.2rem;
  margin: 0.6rem;
  line-height: 1.5;
}

.change_langs_arrows:hover {
  cursor: pointer;
}

.add_container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
  gap: 1rem;
  color: var(--text-color);
  align-items: center;
}

.selects_container {
  font-size: 0.8rem;
  border-top: 1px solid var(--sec-color);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 720px) {
  .selects_container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-content: space-between;
    font-size: 0.8rem;
    border-top: 1px solid var(--sec-color);
    padding: 0.5rem 1rem;
  }
}

.add_container textarea {
  font-size: 1rem;
  line-height: 1.3;
  height: 7rem;
  padding: 0.4rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.add_container input {
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0.1rem 0.5rem;
}

.add_container label {
  text-align: right;
  font-size: 0.9rem;
}

.add_container button {
  color: var(--light-text-color);
  font-weight: bold;
  background: #fdc830;
  background: -webkit-linear-gradient(to right, #f37335, #fdc830);
  background: linear-gradient(to right, #f37335, #fdc830);
  border-radius: 5px;
  height: 35px;
}

.word_container {
  width: 100%;
  height: 2.5rem;
  background-color: #eee;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  border: 1px solid var(--sec-color);
  color: #333;
  text-align: center;
}

.translations_container {
  width: 100%;
  height: 15rem;
  background-color: #eee;
  margin-top: 1rem;
  padding: 2rem;
  border: 1px solid var(--sec-color);
  color: #333;
  text-align: center;
}

.base_button {
  font-family: var(--buttons-font);
  max-width: fit-content;
  height: 2.2rem;
  padding: 0.5rem 2rem;
  color: var(--sec-color);
  font-size: 1.2rem;
  line-height: 1.2rem;
  border: 1px solid var(--sec-color);
}

.base_button:not([disabled]):hover {
  background: #fdc830;
  background: -webkit-linear-gradient(to right, #f37335, #fdc830);
  background: linear-gradient(to right, #f37335, #fdc830);
  color: #eee;
  border: 1px solid #eee;
  cursor: pointer;
}

.base_button:disabled {
  opacity: 90%;
  border: none;
  color: #aaa;
}

.buttons_container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  background-color: #eee;
  border: 1px solid var(--sec-color);
  border-top: none;
}

.buttons_container button {
  font-family: var(--buttons-font);
  height: 2rem;
  padding: 0.4rem 1rem;
  color: var(--sec-color);
  font-size: 1rem;
  line-height: 1.2rem;
  border: none;
}

.buttons_container button:active {
  background: #fdc830;
  background: -webkit-linear-gradient(to right, #f37335, #fdc830);
  background: linear-gradient(to right, #f37335, #fdc830);
  color: #eee;
}

.buttons_container button:hover {
  cursor: pointer;
  color: var(--light-text-color);
  background: #fdc830;
  background: -webkit-linear-gradient(to right, #f37335, #fdc830);
  background: linear-gradient(to right, #f37335, #fdc830);
}

.buttons_container button:disabled {
  opacity: 30%;
}

.download_button {
  width: fit-content;
  height: 1.8rem;
  padding: 0.4rem 1rem;
  font-family: var(--buttons-font);
  color: var(--sec-color);
  font-size: 0.9rem;
  line-height: 1rem;
  border: 1px solid var(--sec-color);
  margin-top: 0.5rem;
}

.download_button:not([disabled]):hover {
  background: #fdc830;
  background: -webkit-linear-gradient(to right, #f37335, #fdc830);
  background: linear-gradient(to right, #f37335, #fdc830);
  color: #eee;
  border: 1px solid #eee;
  cursor: pointer;
}

.alert {
  position: fixed;
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: var(--sec-color);
  text-align: center;
  line-height: 50px;
  top: 0px;
  left: 0px;
}

.settings_container {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1.4;
}

.settings_container h4 {
  margin-bottom: 1rem;
  color: var(--sec-color);
}

.settings_container p {
  margin-bottom: 1rem;
}

@media screen and (min-width: 481px) {
  .separator {
    display: none;
  }

  .select_container_right {
    text-align: right;
  }

  .add_container > div {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    gap: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .tab {
    padding: 0.2rem 1rem;
    width: 100%;
    text-align: center;
    line-height: 1.5;
    border-bottom: 0px;
    border-collapse: collapse;
  }

  .selects_container {
    font-size: 0.8rem;
    border-top: 1px solid var(--sec-color);
    padding: 0.5rem 1rem;
  }

  .separator {
    display: block;
  }

  .select_container_right {
    text-align: center;
    margin: 1.5rem 0rem;
  }

  .add_container {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
  }

  .add_container > div {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .add_container label {
    text-align: left;
  }

  .add_container button {
    width: 50%;
    height: 30px;
  }

  .add_container textarea {
    width: 14rem;
    margin: 0;
  }
}
